<head>
    <title>Stage 3</title>
</head>

<body>
    <form method="POST">
        <input type="text" name="url-entry" required/>
        <textarea type="text" name="url-set" rows="5" required></textarea>
        <input type="submit" value="Start" />
    </form>

    {% if results: %}
        <div>
            <b>Ana url:</b><br>
            <b>{{mainUrl}}</b><br>
            <b>Keywords:</b> {{mainUrlKeywords}}
        </div>

        <br>
        <br>

        {% for url, similarity in results: %}
            <div>
                <b>{{url}}</b> {{similarity}}<br>
                <b>Keywords:</b> {{keywords[url]}}
            </div>
            <br>
        {% endfor %}
    {% endif %}
</body>